<div class="container-fluid" style="background-color: dimgrey; font-style: oblique" >
  <h1 style="text-align: center">
  <a class="text-dark">Curriculum Vitae</a>
  </h1>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img src="favicon.ico" alt="logo" style="width:40px;">
  </a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/register" routerLinkActive="active" style="margin-left: 100px">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/report" routerLinkActive="active" style="margin-left: 100px">Report</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/data-list-view" routerLinkActive="active" style="margin-left: 100px">Data List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/" routerLinkActive="active" style="margin-left: 100px">Login</a>
    </li>
  </ul>
</nav>
